{%extends 'base.html'%}

{% block title %}
SERVICES
        
{% endblock%}

{% block content%}
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, veniam?</p>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aperiam quibusdam perspiciatis inventore corporis possimus dignissimos cupiditate voluptatem odio nam ab nobis, rem nesciunt suscipit facilis, quia modi reiciendis eveniet?</p>
{% endblock%}
{% block footer%}
        <p>updated</p>
        {% endblock%}